.navbar_section ul li a {
     
        font-size: 3.7rem;
        padding: 23px;
    
}

.navbar_section{
    height: 145px;
    width: 87rem;
}
.home_section , #about{
    width: 63rem;
    height: 84rem;
}

h3{
    font-size: 6.4rem;
    top: 112px;
}
.grid{
    display: block;
    height: 80rem;
    align-items: center;
}
h2{
    font-size: 5.6rem;
    left: auto;
}
#home{
    font-size: 2.6rem;
    left: auto;
}
.resume{
    left: auto;
    font-size: 2.6rem;
    height: 64px;
    width: 223px;
}
.resume:hover{
    width: 230px;
}
.grid_about{
    grid-template-columns: auto;
    height: 84rem;
}
#my_skill{
    font-size: 4.8rem;
    top: 37px;
}
.skills{
    left: 21px;
    width: 297px;
    height: 193px;
    top: 87px;
}
h6{
    font-size: 30px;
}
#skill{
    width: 122px;
    height: 109px;
}
#box1{
    position: relative;
    top: 26rem;
    text-align: center;
}
#box2{
    bottom: 26rem;
    top:auto;
    left: 19rem;
}

 .box2 , .box1{
    width: 62rem;
    
} 
.box2:hover{
    
}
.box1{
    text-align:center;
    position: relative;
    bottom: 407px;

}
#m{
    text-align: center;
    font-size: 4.8rem;
    width: 45rem;
}
#intro{
    font-size: 2.6rem;
    width: 47rem;
    height: 40rem;
    
    top: 51px;
    right: 2.6rem;
}
#contact{
    height: 23rem;
}
 .phone, .gmail, .twitter, .linkedin{
    left: 87px;
    width: 180px;
    height: 152px;
}
#phone, #gmail, #twitter, #linkedin{
    height: 102px;
    width: 102px; 
}

#projects {
    height: 113rem;
}
.t{
    display: grid;
    grid-template-columns: repeat(1,auto);
}
#project{
    margin: 34px;
    width: 77%;
    left: 71px;
}
img{
    width: 46rem;
    height: 319px;
    margin: 8px;
}
#works{
    font-size: 4.8rem;
}
.contact{
    font-size: 4.8rem;
}