.navbar_section ul li a {
    font-size: 3.2rem;
    padding: 39px;
}

.navbar_section{
    height: 110px;
    width: 87rem;
}
.home_section , #about , #projects , #contact{
    width: 87rem;;
}
h3{
    font-size: 4.4rem;
}
h2{
    font-size: 3.6rem;
}
#home{
    font-size: 1.2rem;
}
.skills{
    left: 70px;
}
.box2{
    width: 37rem;
}
.phone, .gmail, .twitter, .linkedin{
    left: 453px;
}